.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #e5e7eb;
    padding: 12px 20px;
    color: #374151;
    z-index: 100;
    position: sticky;
    top: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: #1e40af;
}

.centerSection {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 60px;
}

.contacts a {
    color: #374151;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.contacts a:hover {
    color: #10b981;
}

.icon {
    font-size: 18px;
    color: #374151;
}

.burger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #374151;
    cursor: pointer;
    margin-left: auto;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #374151;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navLinks li a {
    color: #374151;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navLinks li a:hover {
    color: #10b981;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.profileDesktop {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .burger {
        display: block;
        color: #10b981;
    }

    .contacts {
        display: none;
    }

    .navLinks {
        position: absolute;
        top: 60px;
        right: 0;
        left: auto;
        width: 220px;
        flex-direction: column;
        background-color: #ffffff;
        text-align: right;
        padding: 15px 20px;
        z-index: 99;
        border-radius: 8px 0 0 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .navLinks li {
        margin: 10px 0;
    }

    .iconsMobile a {
        margin-right: 10px;
    }

    .profileMobile {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
}