.aboutUs {
    background: url('/assets/Home/aboutUs2.png') no-repeat left center/cover;
    padding: 100px 20px;
    color: #8b6648;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 700px;
    position: relative;
    margin-top: 80px;
    filter: brightness(0.90) contrast(1.2);
    transition: filter 0.3s ease;
    overflow: hidden; /* Важно для правильного отображения теней */
}

/* Тень сверху */
.aboutUs::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Высота тени */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
    pointer-events: none;
    z-index: 2; /* Чтобы тень была над контентом */
}

/* Тень снизу */
.aboutUs::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Высота тени */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
    pointer-events: none;
    z-index: 0; /* Чтобы тень была над контентом */
}

.textBlock {
    margin-left: 0.5em;
    max-width: 560px;
    background-color: white;
    padding: 50px 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.textBlock h1 {
    font-size: 2em;
    margin-bottom: 0.7em;
}

.textBlock p {
    margin-top: 0.3em;
    font-size: 1em;
    line-height: 1.6;
}

.textBlock button {
    background-color: #613b25;
    color: white;
    padding: 16px 30px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    display: inline-block;
    text-align: center;
    margin-top: 0.5em;
}

.textBlock button:hover {
    background-color: #553521;
}


