.footer {
  background-color: #f4f3f1 ; /* Светлый фон как у Navbar */
  color: #374151; /* Серый текст */
  padding: 20px 40px;
  text-align: center;
  border-top: 1px solid #e5e7eb;
  margin-top: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer a {
  color: #10b981; /* Зеленый акцент, как в Navbar */
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  text-decoration: underline;
}

/* =========================== */
/*       ТЕМНАЯ ТЕМА           */
/* =========================== */

.footer.dark {
  background-color: #1f2937; /* Темный фон */
  color: #d1d5db; /* Светлый текст */
  border-top: 1px solid #374151; /* Темная граница */
}

.footer.dark a {
  color: #60a5fa; /* Светло-синий акцент для темной темы */
}

.footer.dark a:hover {
  color: #93c5fd; /* Более светлый оттенок при наведении */
}
